<style>

    .form-container {
      max-width: 400px;
      margin: 0 auto;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .form-group label {
      font-weight: bold;
    }
  </style>

<section class="py-5 text-center container">
    <div class="row py-lg-5" style="text-align: center;">
      <div class="col-lg-6 col-md-8 mx-auto" style="float: none; display: inline-block; ">
        <h1 class="fw-light">Editando um Contato</h1>
        <p class="lead text-body-secondary">Prencha o formulario abaixo:</p>



       <div class="form-container">
        <%= render "form", url:"/contato/#{@contato.id}/atualizar", onsubmit:"atualizar", contato:@contato %>
       </div>
      </div>
    </div>
  </section>
