  <style>
    .mx-auto {
      font-family: Arial, sans-serif;
      line-height: 1.5;
      margin: 20px;
      text-align:left
    }

    h1 {
      color: #007BFF;
    }
  </style>


<section class="py-5 text-center container">
    <div class="row py-lg-5" style="text-align: center;">
      <div class="col-lg-6 col-md-8 mx-auto" style="float: none; display: inline-block; ">
        <h1 class="lead text-body-secondary">Bem-vindos ao treinamento de Ruby on Rails para os alunos do PagaSó!</h1>

  <p>Neste curso, teremos a oportunidade de explorar em detalhes a linguagem de programação Ruby e o poderoso framework Rails. Durante as próximas semanas, mergulharemos nas melhores práticas de desenvolvimento web e aprenderemos a criar aplicações robustas e escaláveis.</p>

  <p>Através de uma abordagem prática e interativa, vocês terão a chance de desenvolver habilidades essenciais para construir aplicações web de qualidade. Vamos explorar conceitos fundamentais da linguagem Ruby, como sintaxe, estruturas de controle, funções e classes. Em seguida, mergulharemos no mundo do Rails, onde aprenderemos a criar modelos, controladores e visualizações para desenvolver aplicações web completas.</p>

  <p>Durante o treinamento, também abordaremos tópicos avançados, como autenticação de usuários, integração com bancos de dados, implementação de testes automatizados e otimização de desempenho. Além disso, exploraremos a integração de recursos adicionais, como APIs externas, serviços em nuvem e autenticação de terceiros.</p>

  <p>A medida que avançarmos no curso, vocês terão a oportunidade de aplicar seus conhecimentos em projetos práticos e desafiadores. Trabalharemos em equipe, compartilhando ideias e resolvendo problemas reais encontrados no desenvolvimento de aplicações web. Acredito que essa abordagem hands-on seja fundamental para solidificar o aprendizado e fornecer uma experiência enriquecedora a todos.</p>

  <p>Espero que este treinamento seja uma jornada emocionante para cada um de vocês. Lembrem-se de aproveitar ao máximo as oportunidades de aprendizado, tirando dúvidas, participando ativamente das atividades e compartilhando seu conhecimento com os colegas. Estou aqui para apoiá-los em cada etapa do processo.</p>

  <p>Ao final do treinamento, tenho certeza de que vocês estarão mais confiantes e habilidosos em desenvolver aplicações web utilizando Ruby on Rails. Este conhecimento abrirá portas para oportunidades profissionais e possibilitará que vocês contribuam de forma significativa para projetos e equipes de desenvolvimento.</p>

  <p>Estou ansioso para embarcar nessa jornada com vocês. Vamos começar essa incrível aventura de aprendizado juntos!</p>

  <p>Desejo a todos um treinamento produtivo e repleto de conquistas!</p>

  <p>Atenciosamente,<br>[Seu Nome]</p>

      </div>
    </div>
  </section>
